{% extends "master.html" %}
{% block css %}

.search-container {
    position: absolute;
    top: 10px;
    right: 10px;
}

{% endblock %}
{% block title %}
  All patients
{% endblock %}


{% block content %}
  <p><a href="/">HOME</a></p>
    <div class="search-container">
        <h2>Search patients:</h2>
        <form method="get" id="searchForm">
        {{ form.as_p }}
         <input type="submit" value="Filter">
        </form>
        {% if mess %}
        <p style="color: red;">{{ mess }}</p>
        {% endif %}
    </div>

  <h1>Patients</h1>
  
  <table border='1'>
  <tr>
    <th>ID</th>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Age</th>
      <th>Details</th>
  </tr>
{% if flag %}
    {% for x in paginator_f.object_list %}
        {% if x.id != 0 %}
        <tr>
            {% if x.age %}
                <td>{{ x.id }}</td>
            <td>{{ x.firstname }}</td>
          <td>{{ x.lastname }}</td>
                <td>{{ x.age }}</td>

            {% else %}
                <td>{{ x.id }}</td>
            <td>{{ x.firstname }}</td>
          <td>{{ x.lastname }}</td>
                <td>{{ age }}</td>
            {% endif %}

        <td><a href=./details/{{x.id}}>INFO</a> </td>
        </tr>
        {% endif %}
    {% endfor %}
{% endif %}
</table>
{% endblock %}
