{% extends 'master.html' %}

{%block css %}


.outer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: lightgray;
    padding: 75px;
    border: 3px solid black;

}
.inner{
    width: 100%;
    height: 100%;
    text-align: center;
}
{% endblock %}

{% block title %}
Delete Tests
{% endblock %}

{% block content %}
<div class="outer">
<div class="inner">
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Delete</button>
</form>

<p><a href="/patients/details/{{id}}">Back to your account</a></p>
</div>
</div>
{% endblock %}