{% extends "master.html" %}
{% load static %}
{% block css %}

* {
  box-sizing: border-box;
}


ul {
  margin: 0;
  padding: 0;
}


ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;


  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


ul li:nth-child(odd) {
  background: #f9f9f9;
}


ul li:hover {
  background: #ddd;
}


ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}


ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}


.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}


.header {
  background-color: #f44336;
  padding: 30px 40px;
  color: white;
  text-align: center;
}


.header:after {
  content: "";
  display: table;
  clear: both;
}


input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}


.addBtn {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.addBtn:hover {
  background-color: #bbb;
}


{% endblock %}
{% block title %}
  {{ pt.firstname }} {{ pt.lastname }}
{% endblock %}
{% block content %}


    <h1>{{ pt.firstname }} {{ pt.lastname }}</h1>
    {% if pt.image %}
    <img src="{{pt.image.url}}" alt="Your photo here" width="150" height="200">
    {% endif %}
    <p>Login: {{ pt.login }}</p>

    <p>Data of birth: {{ pt.birthdate }}</p>
    <p>You are a {{pt.sex}}</p>
    <p>You have {{age}} years</p>
    <p><a class="btn btn-primary "  href="./exams" >Check your examinations <i class="bi bi-list-check"></i></a></p>
    <p><a class="btn btn-primary "  href="./measurements_csv" >Add measurements as csv file <i class="bi bi-plus-square"></i></a></p>
    <p><a class="btn btn-primary "  href="./new_measurement" >Add measurement <i class="bi bi-plus-square"></i></a></p>
    <p><a class="btn btn-primary "  href="./new_measure" >Add measure <i class="bi bi-plus-square"></i></a></p>
    <p id="edit_measure"><a class="btn btn-primary "  href="./edit_measure" >Edit measure <i class="bi bi-plus-square"></i></a></p>
    <p id="delete_measure"><a class="btn btn-primary "  href="./delete_measure" >Delete measure <i class="bi bi-plus-square"></i></a></p>
    <p><a class="btn btn-primary "  href="./select_measure_view" >Show plots <i class="bi bi-plus-square"></i></a></p>

    <div id="myDIV" class="header">
      <h2 style="margin:5px">My To Do List</h2>
    </div>

    <ul id="myUL">
    </ul>
    <p>Back to <a href="/patients">Patients</a></p>
    <script>
        (function()
        {
            show_hide_buttons({{shown | safe}});
            to_do_list({{problems}});
            //alert("FROM MAIN");

        })();
    </script>


{% endblock %}