{% extends "master.html" %}
{% block title %}
  {{ pt.firstname }} {{ pt.lastname }}
{% endblock %}
{% block content %}

    <h1>{{ pt.firstname }} {{ pt.lastname }}</h1>
    {% if pt.image %}
    <img src="{{pt.image.url}}" alt="Your photo here" width="150" height="200">
    {% endif %}
    <p>Login: {{ pt.login }}</p>

    <p>Data of birth: {{ pt.birthdate }}</p>
    <p>You are a {{pt.sex}}</p>
    <p>You have {{age}} years</p>
    <p><a class="btn btn-primary "  href="./exams" >Check your examinations <i class="bi bi-list-check"></i></i></a></p>
    <p><a class="btn btn-primary "  href="./measurements_csv" >Add measurements as csv file <i class="bi bi-plus-square"></i></a></p>
    <p><a class="btn btn-primary "  href="./new_measurement" >Add measurement <i class="bi bi-plus-square"></i></a></p>
    <p><a class="btn btn-primary "  href="./new_measure" >Add measure <i class="bi bi-plus-square"></i></a></p>
    <p><a class="btn btn-primary "  href="./edit_measure" >Edit measure <i class="bi bi-plus-square"></i></a></p>
    <p><a class="btn btn-primary "  href="./delete_measure" >Delete measure <i class="bi bi-plus-square"></i></a></p>
    <p><a class="btn btn-primary "  href="./select_measure" >Show plots <i class="bi bi-plus-square"></i></a></p>
    <p>Back to <a href="/patients">Patients</a></p>
{% endblock %}