{% extends "master.html" %}

{%block css %}

h2{
    position:relative; left:10px; top:2px;
}

.outer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: lightgray;
    padding: 75px;
    border: 3px solid black;

}
.inner{
    width: 100%;
    height: 100%;
    text-align: center;
}
{% endblock %}


{% block title %}Home{% endblock %}

{% block content %}
<div class="outer">
<div class="inner">
    <h2>Log In</h2>
    <form method="POST">
    {% csrf_token %}
        {% if not f.is_valid %}
        <ul>
        {% for pole, bledy in f.errors.items %}
        	<li>{{ pole }}: {% for blad in bledy %}
        		{{ blad }}
        	{% endfor %}
            </li>
        {% endfor %}
        </ul>

    {% endif %}

        <table>
            {{ f.as_table }}
        </table>
        <br>
    <input type="submit" value="Log in"><br><br>
    </form>
    <a href="signup/">Create new account</a><br>
    <a href="change_pass/">Change actual password</a>

<p>Check current <a href="/patients">patients</a></p>
</div>
</div>
{% endblock %}
