{% extends 'master.html' %}

{% block title %}
New measurement
{% endblock %}

{% block content %}

<form method="POST">
    {% csrf_token %}
    {% if not f.is_valid %}
        <ul>
        {% for pole, bledy in f.errors.items %}
        	<li>{{ pole }}: {% for blad in bledy %}
        		{{ blad }}
        	{% endfor %}
            </li>
        {% endfor %}
        </ul>

    {% endif %}

<table>
    {{ f.as_table }}
</table>

<input type="submit" value="Add measurement">
</form>
<p><a href="/patients/details/{{id}}">Back to your account</a></p>
{% endblock %}