{% extends 'master.html' %}

{% block title %}
Change actual password
{% endblock %}

{% block content %}

<form method="POST">
    {% csrf_token %}
    {% if not f.is_valid %}
        <ul>
        {% for pole, bledy in f.errors.items %}
        	<li>{{ pole }}: {% for blad in bledy %}
        		{{ blad }}
        	{% endfor %}
            </li>
        {% endfor %}
        </ul>

    {% endif %}

<table>
    {{ f.as_table }}
</table>

<input type="submit" value="Change password">
</form>
<p><a href="/">HOME</a></p>
{% endblock %}